<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005189346273-lpmdrojs441glvtm7rk3la58ffvmr2g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005189346273-lpmdrojs441glvtm7rk3la58ffvmr2g5</string>
	<key>API_KEY</key>
	<string>AIzaSyDjRE384DFEWPGE26Yxa2PKCXI5dGP5sgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1005189346273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shpmm.XCE-FACTOR</string>
	<key>PROJECT_ID</key>
	<string>xce-factor-85050</string>
	<key>STORAGE_BUCKET</key>
	<string>xce-factor-85050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005189346273:ios:f9df240c2eead4cf9898a0</string>
	<key>DATABASE_URL</key>
	<string>https://xce-factor-85050.firebaseio.com</string>
</dict>
</plist>